name: flextras
description: A collection of Flex widgets (Columns and Rows) with additional functionality.
version: 1.0.0
homepage: https://github.com/gskinnerTeam/flutter-flextras
repository: https://github.com/gskinnerTeam/flutter-flextras

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
